.kick-pad,
.clap-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: all 0.2s ease;
  &:hover {
    opacity: 0.3;
  }
  &.active {
    background: rgb(42, 98, 88);
  }
}

.kick,
.clap,
.hihat {
  display: flex;
  justify-content: space-between;
}
.kick-pad {
  background: $kickColor;
}
.clap-pad {
  background: $clapColor;
}

.hihat-pad {
  background: $hihatColor;
}

@keyframes playTracks {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
